* {
        border: none;
        font-family: "AdwaitaMono Nerd Font";
        font-size: 16px;
        color: #ffffff;
        border-radius: 0px;
        padding: 0;
        margin: 0;
}

.modules-left {
        margin: 0 0 0 7px;
}

.modules-center {
        padding: 7px 0 7px 0;
}

.modules-right {
        margin: 0 7px 0 0;
}

window {
        font-weight: bold;
}

window#waybar {
        background: #191724;
}

#clock,
#workspaces,
#wireplumber,
#network,
#battery,
#custom-powermenu {
        min-height: 15px;
        padding: 0 9px;
        border-radius: 0px;
        border:none;
        box-shadow: none;
}

/* Overriding padding because power icon is smaller */
#custom-powermenu {
        padding: 0 9px 0 3px;
}

#battery {
        color: green;
}

#battery.warning {
        color: orange;
}

#battery.critical {
        color: red;
}

#workspaces {
        background: transparent;
        padding: 0;
        margin: 0 10px 0 10px;
        border: none;
        box-shadow: none;
}

#workspaces button {
        padding: 0px 6px;
        margin: 0px 2px;
        border-radius: 16px;
        color: grey;
        background: transparent;
        transition: all 0.3s ease-in-out;
}

#workspaces button.active {
        margin: 5px 0;
        background: linear-gradient(135deg, #f6c177 0%, #16539c 100%);
        min-width: 55px;
        transition: all 0.3s ease-in-out;
}
